In [3]:
import pandas as pd
import json
import numpy as np
import re
import pickle

In [9]:
# we load all datasets containing the characters that are used for analysis
df_raw_script = pd.read_csv('data/Game_of_Thrones_Script.csv')

with open('data/characters.json') as f:
    json_characters = json.load(f)
df_raw_characters = pd.DataFrame(json_characters['characters'])

with open('data/episodes.json') as f:
    json_episodes = json.load(f)
df_raw_episodes = pd.DataFrame(json_episodes['episodes'])

#### Preprocess/clean the raw datasets

Thought behind is to only include names in the dataset that occur in all datasets, and correct them so they are the same names.  
1. First, replace the names in each dataset with the names we have outlined in the list "names changed.csv"
2. Secondly, collect all names from each dataset into a "set".
3. Thirdly, find the intersection between all sets. This is now the list of names we can use in each dataset.
4. fourthly, filter all datasets to only include dialogue, characters and scenes where these characters are.

In [12]:
# script

In [16]:
# characters
# creating the list of characters
df_characters = df_raw_characters[df_raw_characters['characterLink'].notnull()]
df_characters = df_characters.characterName
df_characters

0           Addam Marbrand
2            Aeron Greyjoy
3       Aerys II Targaryen
4                     Akho
5           Alliser Thorne
              ...
384              Young Nan
385              Young Ned
386        Young Ned Stark
387    Young Rodrik Cassel
388                Zanrush
Name: characterName, Length: 368, dtype: object

In [ ]:
# episodes
#